{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}
        {% else %}
            hey there partner!
        {% endif %}
        <br/>
        <strong>{{ boldmessage }}</strong>
    </div>
    <div>
        <h3>Most Liked Categories</h3>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a> -
                        {{ category.likes }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    <div>
        <h3>Most Viewed Pages</h3>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No Pages added for any category</strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static "images/pirate-ship.jpg" %}"
             alt="Picture of a Pirate Ship" style="height: 300px;"/>
    </div>
{% endblock %}